//- insistir,persistir,resistir y nunca desistir
//- Atraes lo que eres, si quieres una vida increible se una persona increíble
//- "¿Qué sería de la vida, si no tuviéramos el valor de intentar algo nuevo?" 
//- mereces lo que sueñas
//- Se como el lobo, fuerte en la soledad, solidario en el grupo
//- Si vas a cometer errores, que sean nuevos
//- Mixins a usar
mixin menu_lateral
	//- .overlay
	.menulateral-header.height_100.list-unstyled.pull-left
		.menulateral-header-items
			.menulateral-items
				.item
					a.menu-item(href="#inicio")
						i.fa.fa-home
						.menu-text Inicio
				.item
					a.menu-item(href="#introduccion")
						i.fa.fa-user
						.menu-text Introduccion
				.item
					a.menu-item(href="#porqueelegirme")
						i.fa.fa-star-o
						.menu-text ¿Por qué elegirme?
				.item
					a.menu-item(href="#miTrabajo")
						i.fa.fa-file-text
						.menu-text Mi trabajo
				.item
					a.menu-item(href="#Contactame")
						i.fa.fa-envelope
						.menu-text Contactame
//- FIN Mixins a us
mixin trabajos(img1,nombrepy1,description1,img2,nombrepy2,description2,img3,nombrepy3,description3)
	.row
		.col-sm-6.col-md-4
			.thumbnail
				img(src=img1 alt="PY")
			.caption
				h3=nombrep1
				p=description1
				p
					a.btn
						i.fa.fa-github.btn(href="#" role="button")
					a.btn
						i.fa.fa-eye(href="#" role="button")
		.col-sm-6.col-md-4
			.thumbnail
				img(src=img2 alt="PY")
			.caption
				h3=nombrep2
				p=description2
				p
					a.btn
						i.fa.fa-github.btn(href="#" role="button")
					a.btn
						i.fa.fa-eye(href="#" role="button")
		.col-sm-6.col-md-4
			.thumbnail
				img(src=img3 alt="PY")
			.caption
				h3=nombrep3
				p=description3
				p
					a.btn
						i.fa.fa-github.btn(href="#" role="button")
					a.btn
						i.fa.fa-eye(href="#" role="button")

doctype html
html(lang="en")
	head
		title Portafolio Mery Santos
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(ame="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/style.css")
		link(rel="stylesheet" href="css/utilitarios.css")
		script(type="text/javascript" src="js/jquery-2.2.4.min.js")
		script(src='main.js')
		script(type="text/javascript" src="js/jquery.lettering.js")
		script(type="text/javascript" src="js/jquery.lettering.js")
		script.
			$(function() {
				$("#letter-container h2 a").lettering();
			});
						
	body.background-all
		.section#inicio
			.container.height_100
				.row
					.nav
						a.underline(href="#inicio") Inicio
						a.underline(href="#introduccion") Introduccion
						a.underline(href="#porqueelegirme") ¿Por què elegirme?
						a.underline(href="#miTrabajo") Mi trabajo
						a.underline(href="#Contactame") Contactame
				.row.hero-section.text-center
					h1 MERY SANTOS
					h4 WEB DEVELOPER
					//- Tira-fotos
					#letter-container.letter-container
						h2
							a(href="#") Misha
					

		